<div id="nav" class="fixed w-100 overflow-x-scroll overflow-x-visible-ns z-100" style="z-index:999">
	<nav class="navShadow  w-100 overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-blackish divider-grey  relative raleway"
		style="z-index: 999;">

		<!-- Logo -->
	<a href="/" class="pa1 db  h-100 w3 flex-none">
		<img src="/img/logo_cross.png" alt="Prestige Dance National Tour Mini Logo" class="br0 db mb0 mh2  w-100"/>
	</a>

		<!-- Primary Nav -->
		<ul class=" dn flex-l b white f7">
		<li><a href="/our-story" class="pa2 f7 no-underline db">Our Story</a></li>
		<li><a href="/nationals" class="pa2 f7  no-underline db">Nationals</a></li>
		<li><a href="/convention" class="pa2 f7  no-underline db">Convention</a></li>
		<li><a href="/the-tour" class="pa2 f7  no-underline db">The Tour</a></li>
		<li><a href="/rules-and-regulations" class="pa2 f7  no-underline db">Rules and Regulations</a></li>
		<li><a href="/covid-19-procedures" class="pa2 f7  no-underline db">Covid-19</a></li>
		<li><a href="https://iframe.dacast.com/b/76956/c/574448" class="pa2 f7  no-underline db">Live Stream</a></li>
		
		<li><a href="/register" class="pa2 f7  no-underline db">Register</a></li>

		</ul>
		<div class="dn-l">
			<button id="burger" class="hamburger hamburger--collapse pv3" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
		</div>
	</nav>

	<ul id="sideNav" class="dn b  f7 bg-white relative black z-100 tc">
		<li><a href="/our-story" class="pa2 pv3 subnav f7 no-underline db">Our Story</a></li>
		<li><a href="/nationals" class="pa2 pv3 subnav f7  no-underline db">Nationals</a></li>
		<li><a href="/convention" class="pa2 pv3 subnav f7  no-underline db">Convention</a></li>
		<li><a href="/the-tour" class="pa2 pv3 subnav f7  no-underline db">The Tour</a></li>
		<li><a href="/rules-and-regulations" class="pa2 pv3 subnav f7  no-underline db">Rules and Regulations</a></li>
		<li><a href="/covid-19-procedures" class="pa2 pv3 subnav f7  no-underline db">Covid-19</a></li>
		<li><a href="https://iframe.dacast.com/b/76956/c/574448" class="pa2 pv3 subnav f7  no-underline db">Live Stream</a></li>
		<li><a href="/register" class="pa2 pv3 subnav f7  no-underline db">Register</a></li>
	</ul>
</div>

<div id="navFix"></div>

{{/*  <nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-blackish divider-grey fixed w-100 z-999">

	<!-- Logo -->
	<a href="/" class="pa1 db  h-100 w3 flex-none">
		<img src="/img/logo_cross.png" alt="Prestige Dance National Tour Mini Logo" class="br0 db mb0 mh2  w-100"/>
	</a>

	<!-- Primary Nav -->

	<ul class=" b white  dn flex-m flex-l" style="font-family: 'Oxygen', sans-serif;">
		<li><a href="/our-story" class="pa2 f7 no-underline db">large Story</a></li>
		<li><a href="/intensive" class="pa2 f7  no-underline db">Intensive</a></li>
		<li><a href="/convention" class="pa2 f7  no-underline db">Convention</a></li>
		<li><a href="/the-tour" class="pa2 f7  no-underline db">The Tour</a></li>
	</ul>

</nav>  */}}
