svg {
  stroke: transparent;
  stroke-width: 0px;
  margin-bottom: -3px;
  z-index: 1;

}

#bokeh {

  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 998;
    -webkit-filter: drop-shadow(10px 10px 2px #000);
    filter: drop-shadow(10px 10px 2px #000);
    max-height: 750px;
    height: 90vw;
    width: 90vw;
    max-width: 750px;


  }

  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  overflow: hidden;
  position: relative;

  width: 100vw;
  height: 100vh !important;
  z-index: 1;
  max-width: 100%;

  $primary_colors: #369FA4 #179398 #017E84 #38A3A5 #38A3A6 #38A3A7 #38A3A8 #38A3A9 #38A3A4 #38A3A3 #38A3A2 #01676B #004F52 #369FA2 #179396 #017E82 #016769 #004F50 #369FA2 #179397 #017E83 #01676A #004F51 #369FA4 #179388 #017EA4 #38A3B5 #38A3B6 #38ABA7 #38A3B8 #38A3B9 #38A3B4 #38A3B3 #38A3B2 #01677B #004F42 #369FB2 #179386 #017E82 #016779 #004F51 #369FA1 #179396 #017E82 #01676B #004F52 #137571 #137572 #137573 #137574 #137575 #137576 #137577 #137578 #137579 #216a69 #216a6a #216a6b #216a6c #216a6d #216a6e #216a6f #2b5d5e#E0E0E0#E8E8E8#F0F0F0#F5F5F5#F8F8F8#FFFFFF #C0C0C0 #C8C8C8 #D0D0D0 #D3D3D3 #D8D8D8 #DCDCDC;

  #canvas {
    position: relative;
    top: 0;
    left: 0;
    z-index: -11;
    animation: spin 300s linear infinite;
    transform-origin: 50% 50%;
  }

  .circle {
    position: absolute;
    border-radius: 50%;
  }

  @function create-palette() {
    $palette: ();

    @for $i from 1 through 70 {
      $palette: append($palette, mix(nth($primary_colors, random(length($primary_colors))), nth($primary_colors, random(length($primary_colors))), 100%));
    }

    @return $palette;
  }

  $palette: create-palette();

  @each $color in $palette {
    $size: random(7) + 0vw;

    .circle:nth-child(#{index($palette, $color)}) {
      background: $color;
      box-shadow: 0 0 random(3) + 3px random(3) + 3px $color;
      top: random(100) + 0%;
      left: random(100) + 0%;
      width: $size;
      height: $size;
      min-width: 39px;
      min-height: 39px;
      opacity: random(100) / 100;
      animation: float#{index($palette, $color)} 20s infinite linear;
    }
  }

  @for $i from 1 through 70 {
    $movex: random(100) - 20 + px;
    $movey: random(400) - 300 + px;
    $movex2: random(200) - 50 + px;
    $movey2: random(400) - 100 + px;

    @keyframes float#{$i} {
      40% {
        transform: translateX($movex) translateY($movey);
      }

      80% {
        transform: translateX($movex2) translateY($movey2);
      }
    }
  }

  .colorizer1,
  .colorizer2,
  .colorizer3,
  .colorizer4 {
    position: absolute;
    width: 250px;
    height: 250px;
    filter: blur(90px);
  }

  .colorizer1 {
    border-radius: 50%;
    background: linear-gradient(135deg, #A191AE, #dbdce0);
  }

  .colorizer2 {
    top: 20%;
    left: 70%;
    background: #63568C;
  }

  .colorizer3 {
    top: 80%;
    left: -15%;
    background: #2D0D34;
    filter: blur(80px);
    border-radius: 50%;
  }

  .colorizer4 {
    top: 20%;
    left: 35%;
    width: 100px;
    height: 100px;
    background: #bbdebc;
    filter: blur(80px);
    border-radius: 50%;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
      transform-origin: 50% 50%;
    }

    to {
      transform: rotate(360deg);
    }
  }
}